{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<section class="hero-section">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-6">

                <h1>Upgrade Your Tech Experience 🚀</h1>

                <p>
                    Discover premium laptops, mobiles and accessories
                    at unbeatable prices.
                </p>

                <a href="#products" class="btn btn-warning btn-lg me-3">
                    Shop Now
                </a>

                <a href="#products" class="btn btn-outline-light btn-lg">
                    Explore
                </a>

            </div>

            <div class="col-lg-6 text-center">

                <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?w=900"
                     class="hero-image">

            </div>

        </div>

    </div>

</section>

<section class="featured-section my-5">

    <div class="container">

        <div class="row text-center">

            <div class="col-md-4 mb-3">

                <div class="feature-box">

                    <div class="feature-icon">🚚</div>

                    <h4>Free Delivery</h4>

                    <p>Fast & Secure Delivery Across India</p>

                </div>

            </div>

            <div class="col-md-4 mb-3">

                <div class="feature-box">

                    <div class="feature-icon">🛡️</div>

                    <h4>Secure Payment</h4>

                    <p>100% Safe & Trusted Transactions</p>

                </div>

            </div>

            <div class="col-md-4 mb-3">

                <div class="feature-box">

                    <div class="feature-icon">⭐</div>

                    <h4>Premium Quality</h4>

                    <p>Best Tech Products at Great Prices</p>

                </div>

            </div>

        </div>

    </div>

</section>

<div class="text-center mb-5">

    <h2 class="fw-bold display-5">
        🛍️ Our Latest Products
    </h2>

    <p class="text-muted">
        Discover the latest gadgets at unbeatable prices
    </p>

</div>

    <div class="mb-4 text-center">

        <a href="/" class="btn btn-dark me-2">All</a>

        <a href="/?category=Laptop" class="btn btn-outline-primary me-2">
        Laptop
        </a>

        <a href="/?category=Mobile" class="btn btn-outline-primary me-2">
        Mobile
        </a>

        <a href="/?category=Headphone" class="btn btn-outline-primary me-2">
        Headphone
        </a>

        <a href="/?category=Accessory" class="btn btn-outline-primary">
        Accessory
        </a>
    </div>

<div class="text-center mb-4">

    <a href="?sort=low" class="btn btn-success me-2">
        💰 Price: Low → High
    </a>

    <a href="?sort=high" class="btn btn-warning">
        💸 Price: High → Low
    </a>

</div>

<div class="row" id="products">

        {% for product in products %}

        <div class="col-md-4 mb-4">

            <div class="card shadow-lg h-100">
                <div class="position-absolute m-2">
                    {% if product.discount > 0 %}
                        <span class="badge bg-danger">
                        🔥 {{ product.discount }}% OFF
                        </span>
                        {% endif %}
                </div>

                <img src="{{ product.image.url }}"
                     class="card-img-top"
                     style="height:250px; object-fit:cover;"
                     alt="{{ product.name }}">

                <div class="card-body">

                   <h4 class="card-title">
                        <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                        {{ product.name|truncatechars:30 }}
                        </a>
                    </h4>

                    {% if product.name|length > 30 %}
                        <a href="{% url 'product_detail' product.id %}" class="small text-primary">
                          More
                        </a>
                        {% endif %}

                    <p class="text-muted">

                        {{ product.description|truncatechars:60 }}
                    </p>
                        {% if product.description|length > 60 %}
                        <a href="{% url 'product_detail' product.id %}" class="small text-primary text-decoration-none">Read More</a>
                        {% endif %}

                    
                    {% if product.discount > 0 %}

                    <h4 class="text-success">
                    ₹{{ product.discounted_price }}</h4>

                    <p>
                    <del class="text-muted">₹{{ product.price }}</del>
                    <span class="badge bg-danger ms-2">
                     {{ product.discount }}% OFF
                    </span>
                    </p>

                    {% else %}

                    <h4 class="text-success">
                    ₹{{ product.price }}
                    </h4>

                    {% endif %}
                    <div class="mb-2">
                        <span class="badge bg-success">
                           {{ product.average_rating }} ⭐
                        </span>

                        <small class="text-muted">
                        ({{ product.review_set.count }} Reviews)
                        </small>
                    </div>

                    <p class="text-success fw-bold">
                    🚚 Free Delivery
                    </p>

                    <div class="d-grid gap-2">

                        <a href="{% url 'add_to_cart' product.id %}"
                        class="btn btn-primary">
                        🛒 Add To Cart
                        </a>

                        <a href="{% url 'add_to_wishlist' product.id %}"
                        class="btn btn-outline-danger">
                        ❤️ Add to Wishlist
                        </a>

                    </div>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12 text-center">

            <h3>No Products Available</h3>

        </div>

        {% endfor %}

        <nav class="mt-4">
            <ul class="pagination justify-content-center">

            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link"
                 href="?page={{ products.previous_page_number }}">
                  Previous
                 </a>
             </li>
                {% endif %}

            <li class="page-item active">
                <span class="page-link">
                {{ products.number }}
                </span>
            </li>

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ products.next_page_number }}">
                    Next
                </a>
            </li>
            {% endif %}

        </ul>
        </nav>

    </div>

</div>

{% endblock %}