{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} | TechStore</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">
            🛍️ TechStore
        </a>

        <div class="ms-auto">

            <a href="{% url 'wishlist' %}" class="btn btn-outline-light me-2">
                ❤️ Wishlist
            </a>

            <a href="{% url 'cart' %}" class="btn btn-success">
                🛒 Cart
            </a>

        </div>

    </div>
</nav>

<div class="container mt-5">

    <div class="row">

        <div class="col-lg-5">

    <div class="row">

        <div class="col-2">

            {% for img in product_images %}

            <img src="{{ img.image.url }}"
                 class="img-fluid border rounded mb-2 thumb-image"
                 onclick="changeImage(this)"
                 style="cursor:pointer;">

            {% empty %}

            <img src="{{ product.image.url }}"
                 class="img-fluid border rounded">

            {% endfor %}

        </div>

        <div class="col-10">

            <img id="mainImage"
                 src="{{ product.image.url }}"
                 class="img-fluid rounded shadow-lg main-image">

        </div>

    </div>

</div>

        <div class="col-md-7">

           <h2 class="fw-bold">{{ product.name }}</h2>

<div class="mb-3">
    <span class="badge bg-success fs-6">
        ⭐ {{ product.average_rating }}
    </span>

    <span class="text-muted">
        ({{ reviews.count }} Reviews)
    </span>
</div>

{% if product.discount > 0 %}

<h2 class="text-success fw-bold">
    ₹{{ product.discounted_price }}
</h2>

<p>
    <del class="text-muted fs-5">
        ₹{{ product.price }}
    </del>

    <span class="badge bg-danger ms-2">
        {{ product.discount }}% OFF
    </span>
</p>

{% else %}

<h2 class="text-success fw-bold">
    ₹{{ product.price }}
</h2>

{% endif %}

<p class="text-success fw-bold">
    🚚 Free Delivery
</p>

<p class="text-muted">
    {{ product.description }}
</p>

{% if specifications %}

<div class="card shadow-sm mt-4">
    <div class="card-header bg-light">
        <h4 class="mb-0">📋 Specifications</h4>
    </div>

    <table class="table table-striped table-hover mb-0">
        <tbody>

        {% for spec in specifications %}

        <tr>
            <th style="width:35%">{{ spec.key }}</th>
            <td>{{ spec.value }}</td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

</div>

{% endif %}

            <p>

                <b>Stock :</b>

                {% if product.stock > 0 %}

                    <span class="badge bg-success">
                        {{ product.stock }} Available
                    </span>

                {% else %}

                    <span class="badge bg-danger">
                        Out of Stock
                    </span>

                {% endif %}

            </p>

            {% if product.stock > 0 %}

                <a href="{% url 'add_to_cart' product.id %}"
                   class="btn btn-primary">
                    Add to Cart
                </a>

                <a href="{% url 'checkout' %}"
                class="btn btn-warning w-100 mt-2">
                 ⚡Buy Now</a>

            {% else %}

                <button class="btn btn-secondary" disabled>
                    Out of Stock
                </button>

            {% endif %}

            <a href="{% url 'add_to_wishlist' product.id %}"
               class="btn btn-outline-danger">
                ❤️ Wishlist
            </a>

            <a href="{% url 'home' %}"
               class="btn btn-dark">
                Back
            </a>

        </div>

    </div>

    <hr class="my-5">

    <h3>⭐ Write a Review</h3>

    <form method="POST"
          action="{% url 'add_review' product.id %}">

        {% csrf_token %}

        <div class="mb-3">

            <label class="form-label">
                Rating
            </label>

            <input
                type="number"
                name="rating"
                min="1"
                max="5"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label class="form-label">
                Review
            </label>

            <textarea
                name="comment"
                rows="4"
                class="form-control"
                required></textarea>

        </div>

        <button class="btn btn-success">
            Submit Review
        </button>

    </form>

    <hr class="my-5">

    <h3>Customer Reviews</h3>

    {% for review in reviews %}

<div class="card shadow-sm mb-3">

    <div class="card-body">

        <h5>{{ review.user.username }}</h5>

        <p class="text-warning fs-5">

            {% if review.rating >= 1 %}⭐{% endif %}
            {% if review.rating >= 2 %}⭐{% endif %}
            {% if review.rating >= 3 %}⭐{% endif %}
            {% if review.rating >= 4 %}⭐{% endif %}
            {% if review.rating >= 5 %}⭐{% endif %}

        </p>

        <p>{{ review.comment }}</p>

        <small class="text-muted">
            {{ review.created_at }}
        </small>

    </div>

</div>

{% empty %}

<div class="alert alert-info">
    No reviews yet.
</div>

{% endfor %}

<hr class="my-5">

<h3 class="mb-4">🛍️ Related Products</h3>

<div class="row">

{% for item in related_products %}

<div class="col-md-3 mb-4">

    <div class="card shadow-sm h-100">

        <img src="{{ item.image.url }}"
             class="card-img-top"
             style="height:220px;object-fit:cover;">

        <div class="card-body text-center">

            <h6>{{ item.name }}</h6>

            <p class="text-success fw-bold">
                ₹{{ item.price }}
            </p>

            {% if item.stock > 0 %}
                <span class="badge bg-success mb-2">
                    {{ item.stock }} Left
                </span>
            {% else %}
                <span class="badge bg-danger mb-2">
                    Out of Stock
                </span>
            {% endif %}

            <br>

            <a href="{% url 'product_detail' item.id %}"
               class="btn btn-outline-primary btn-sm mt-2">
                View Product
            </a>

        </div>

    </div>

</div>

{% empty %}

<div class="col-12">

    <div class="alert alert-secondary">
        No related products available.
    </div>

</div>

{% endfor %}

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script>
function changeImage(img){
    document.getElementById("mainImage").src = img.src;
}
</script>

</body>
</html>